<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
</head>
<body>
<div th:fragment="styles">
    <link rel="stylesheet" th:href="@{/styles/menu-bar.css}"/>
    <link rel="stylesheet" th:href="@{/styles/general.css}"/>
    <link rel="stylesheet" th:href="@{/styles/stylesWidescreen.css}" media="screen and (min-width: 1101px)"/>
    <link rel="stylesheet" th:href="@{/styles/stylesSlim.css}" media="screen and (max-width: 1100px)"/>
</div>

<div >
    <!--<ul id="menu-bar">
        <li><a id="home" th:classappend="${active=='home'} ? active : inactive" th:href="@{/}">Home</a></li>
        <li><a id="data" th:classappend="${active=='data'} ? active : inactive" th:href="@{/data/list}">Data</a></li>
        <li><a id="today" th:classappend="${active=='stosszeiten'} ? active : inactive" th:href="@{/data/charts/today}">Stosszeiten</a></li>
        <li><a id="charts" th:classappend="${active=='charts'} ? active : inactive" th:href="@{/data/charts}">Charts</a></li>
        <li style="float:right"><a th:href="@{https://www.blockfabrik.at}">Blockfabrik</a></li>
    </ul>-->
    <nav th:fragment="header(active)">
        <div id="nav-logo" class="nav-section">
            <a href="#">
                <img th:src="@{/imgs/blockfabrik_icon_large_white.png}">
            </a>
        </div>
        <div id="nav-link" class="nav-section">
            <a th:href="@{/}">HOME</a>
            <a th:href="@{/data/charts}">STOSSZEITEN</a>
            <a th:href="@{data/list}">DATEN</a>
        </div>
        <div id="nav-external" class="nav-section">
            <a href="https://www.blockfabrik.at">BLOCKFABRIK</a>
        </div>
        <div id="nav-social" class="nav-section">
            <a href="https://www.linkedin.com/in/jonas-d-3300321b8/"><img class="icon" th:src="@{/imgs/icons/linkedin.ico}"></a>
            <a href="https://github.com/NotsoblackReaper"><img class="icon" id="icon-github" th:src="@{/imgs/icons/github.ico}"></a>
            <a href="https://twitter.com/its_a_Reaper"><img class="icon" th:src="@{/imgs/icons/twitter.ico}"></a>
        </div>
    </nav>
    <!--
    <img th:src="@{/imgs/blockfabrik_with_name.png}" width="500" style="display: block;margin-left: auto;margin-right: auto;margin-top:10px">
    -->
</div>
</body>
</html>