<!DOCTYPE html>
<html>
  <head>
    <title>Blockfabrik Stats Page: Data Table</title>
      <link rel="icon" th:href="@{/imgs/blockfabrik_icon_large.png}"/>
      <link rel="stylesheet" th:href="@{/styles/tables.css}"/>
    <link rel="stylesheet" th:href="@{/styles/visitorcount.css}"/>
    <th:block th:replace="fragments/general.html :: styles"></th:block>
  </head>
  <body class="content">

  <div th:replace="fragments/general.html :: header(active='data')"></div>
  <div id="data-scraping-status">
      <div class="label">
        <span>Daten Sammeln</span>
      </div>
      <div class="value">
        <span th:if="${data_scraping}">Aktiviert</span>
        <span th:unless="${data_scraping}">Deaktiviert</span>
      </div>
    </div>
  <div>
    <div>
      <table id="day-list">
        <thead>
        <tr>
          <th style="text-align: left;padding-left: 20px;"> Date </th>
          <th style="text-align: center"> Weekday </th>
          <th style="text-align: center"> °C </th>
          <th style="text-align: center"> Rain </th>
          <th style="text-align: right;padding-right: 20px;"> Wind </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="day : ${dayList}">
          <!--/*@thymesVar id="entry" type="at.demski.blockfabrik_stats_page.entities.Datapoint"*/-->
          <td style="text-align: left;padding-left: 20px;"><span th:text="${day.getDate()}"> Date </span></td>
          <td style="text-align: center"><span th:text="${day.getWeekday()}"> Time </span></td>
          <td style="text-align: center"><span th:text="${day.getTemp()}+'°C'"> Time </span></td>
          <td style="text-align: center"><span th:text="${day.getRain()}+'mm'"> Time </span></td>
          <td style="text-align: center"><span th:text="${day.getWind()}+'m/s'"> Time </span></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div>
      <!--List datapoints-->

    </div>
  </div>
  </body>
</html>