<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blockfabrik Stats Page: Data Charts</title>
    <link rel="icon" th:href="@{/imgs/blockfabrik_icon_large.png}"/>
    <link rel="stylesheet" th:href="@{/styles/charts.css}"/>
</head>
<body class="content">

<div th:replace="fragments/charts.html :: chart-base()"></div>


<div th:replace="fragments/charts.html :: large-bar-chart(${data},${dayData[2]},${dayData[3]},${dayData[3]},${currentTime})"></div>
<div th:id="${dayData[3]}" class="fullscreen-chart"></div>

</body>
</html>