<!DOCTYPE html>
<html>
<head>
    <title>Blockfabrik Stats Page: Error Page</title>
    <link rel="icon" th:href="@{/imgs/blockfabrik_icon_large.png}"/>
    <link rel="stylesheet" th:href="@{/styles/error.css}"/>
    <th:block th:replace="fragments/general.html :: styles"></th:block>
</head>
<body class="content" style="background-color:rgb(43, 43, 43);">

<div th:replace="fragments/general.html :: header(active='none')"></div>

<div class="error-msg">
    <h1>Error</h1>
    <h3>You probably shouldn't be here.</h3>
    <a th:href="@{/}">Return Home</a>
</div>

</body>
</html>