<!DOCTYPE html>
<html>
<head>
    <title>Blockfabrik Stats Page</title>
    <link rel="icon" th:href="@{/imgs/blockfabrik_icon.png}"/>

    <link rel="stylesheet" th:href="@{/styles/index.css}"/>
    <link rel="stylesheet" th:href="@{/styles/widescreen/indexWide.css}" media="screen and (min-width: 1101px)"/>
    <link rel="stylesheet" th:href="@{/styles/slim/indexSlim.css}" media="screen and (max-width: 1100px)"/>

    <div th:replace="fragments/charts.html :: chart-base-gcharts()"></div>

    <th:block th:replace="fragments/general.html :: styles"></th:block>
</head>
<body>

<nav th:replace="fragments/general.html :: header(active='home')"></nav>

<main>
    <article>
        <div class="article-chart article-section">
            <div id="indexChart" class=""></div>
            <div th:replace="fragments/charts.html :: bar-chart-gcharts(${data},'','indexChart','indexChart',${currentTime})"></div>

        </div>
        <div class="article-status article-section"
             th:style="'background-image: url(' + @{/imgs/fahrraeder.jpg} + ');background-size:cover;'">
            <div id="slider-background">
                <div id="slider-fill">
                    <p id="slider-label">50%</p>
                    <div id="slider-marker"></div>
                </div>
            </div>
            <div id="status-description">
                <p>AKTUELLE BESUCHER</p>
                    <span id="customers">50</span>
            </div>
            <script th:src="@{/js/setSlider.js}"></script>
        </div>
        <div class="article-content article-section">
            <!-- ############################################# -->
            <!-- Uncomment next tag to test embedding a chart! -->
            <!-- ############################################# -->
            <!--<iframe width="100%" height="100%" src="https://block2.demski.at/data/charts/today" title="Test" allow=""></iframe>-->
        </div>
        <div class="article-nav article-section">
            <a class="article-nav-button nav-button-left" th:href="@{'/experimental?day='+${((current+6)%7)}}">
                <img th:src="@{/imgs/chevrons.ico}"></a>
            </a>
            <a class="article-nav-button nav-button-right" th:href="@{'/experimental?day='+${(current+1)%7}}">
                <img th:src="@{/imgs/chevrons.ico}"></a>
            </a>
        </div>

        <div class="article-weather article-section">
            <!--<p><i class="fa-solid fa-temperature-three-quarters"></i> <span>50</span> °C</p>
            <p><i class="fa-solid fa-wind"></i> <span>50</span> m/s</p>
            <p><i class="fa-solid fa-cloud-showers-heavy"></i> <span>50</span> mm/h</p>-->

        </div>
    </article>
</main>
</body>
</html>