.chart-large{
    width: 75%;
    height: 100%;
    padding: 5px;
}

.chart-small{
    width: 100%;
    height: 100%;
    display: block;
    padding: 5px;
}

.fullscreen-chart{
    width: 100%;
    height: 100%;
    padding: 5px;
}