#day-list{
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--content-background-color);
    padding-bottom: 5px;
    padding-top:3px;
    margin-left: auto;
    margin-right: auto;
}

#data-scraping-status{
    width: 20%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: var(--content-background-color);
    padding-bottom: 5px;
    padding-top:3px;
    margin-left: auto;
    margin-right: auto;
}

#data-scraping-status .label {
    font-family: 'Asap', sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}
#data-scraping-status .value{
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    text-align: center;
}
#data-scraping-status .value span{
    font-size: 30px;
}

span{
    font-family: 'Asap', sans-serif;
    font-size: 16px;
}

th{
    font-family: 'Asap', sans-serif;
    font-size: 18px;
}