#data-list{
    width: 40%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(235, 231, 231);
    padding-bottom: 5px;
    padding-top:3px;
    margin-left: auto;
    margin-right: auto;
}

#data-scraping-status{
    width: 20%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgb(235, 231, 231);
    padding-bottom: 5px;
    padding-top:3px;
    margin-left: auto;
    margin-right: auto;
}

#data-scraping-status .label {
    font-family: 'Asap', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: rgba(0,0,0,0.7);
    text-align: center;
}
#data-scraping-status .value{
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    color: rgba(0,0,0,0.7);
    text-align: center;
}
#data-scraping-status .value span{
    font-size: 30px;
}

span{
    font-family: 'Asap', sans-serif;
    font-size: 16px;
}

th{
    font-family: 'Asap', sans-serif;
    font-size: 18px;
}